@import "element-variables";

/*
* Global Styles
*/
html,
body{
  height: 100%;
  margin: 0;
  #app{
    height: inherit;
    .app-page{
      height: inherit;
      font-family: $font-family-base;
      font-size: $font-size-md;
      line-height: $font-size-md + $line-height-default;
    }
  }
}

/*
* Styles apresentation layouts
*/
.el-header,
.el-footer {
  background-color: $--color-primary;
  color: $--color-white;
}

.el-aside {
  background-color: $--color-info-light;
  color: $--color-text-regular;
  width: auto !important;
}

.el-main {
  background-color: $--color-info-lighter;
  color: $--color-text-regular;
  padding: 0 !important;
  min-height: 100vh;
  min-height: -webkit-calc(100vh - 100px);
  min-height:    -moz-calc(100vh - 100px);
  min-height:         calc(100vh - 100px);
  .page{
    .title-page{
      background: $--border-color-light;
      font-size: $font-size-xl;
      margin: 0;
      padding: 20px;
      text-transform: uppercase;
    }
    .el-breadcrumb{
      padding: 10px;
      background: $--border-color-lighter;
    }
    .content-page{
      padding: 20px;
    }
  }
}

.el-footer{
  height: 40px !important;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  //line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  //line-height: 320px;
}